/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */


.body-container {
  width: 80%;
}

@media (max-width: 768px){
  .body-container {
    width: 90%;
  }

  .navbar {
    .navbar-brand {
      margin-left: 5% !important;
    }

    #navbarSupportedContent {
      margin-right: 5% !important;
    }
  }
}


.navbar {
  position: fixed;
  //overflow: auto;

  .navbar-brand {
    margin-left: 10%;
  }

  #navbarSupportedContent {
    margin-right: 10%;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

.card{
  max-width: 32rem;
  border: none !important;
  border-radius: 1rem !important;
}

.gravatar {
  max-height: 45px;
  border-radius: 1.5rem;
}

footer {
  border-top: 1px solid #eaeaea;
  color: #777;

  small {
    margin-left: 10%;
    a {
      color: #555;
      &:hover {
        color: #222;
      }
    }
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
  }
}

.pagination {
  font-size: 12px;
}

.pagination > * {
  margin-right: 0.1em;
  padding: 0.3em 0.4em;
}

.pagination a:hover {
  background: #202020 none repeat scroll 0 0;
  text-shadow: 1px 1px 1px #171717;
}

.pagination a:active {
  text-shadow: none;
}

.pagination .current {
  background: #202020 none repeat scroll 0 0;
  color: white;
  text-shadow: 1px 1px 1px #171717;
}

.pagination .disabled {
  color: #C0C0C0;
}

